p {
    margin: 0;
}

.App{
    text-align: center;
}

.btn {
    background-color: #82B1FF;
    border: none;
    color: white;
    cursor: pointer;
    width: 100%;
    height: 8vh;
}

.btn:hover {
    background-color: #2962FF;
}

.btn-password-length, .btn-password-length:hover {
    background-color: #448AFF;
}

.mainContainer{
    width: 30%;
    margin: auto;
    background-color: #0D47A1;
    padding: 32px;
    border-radius: 16px;
    color: white;
}

.p-password {
    width: 100%;
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
}

.row p {
    line-height: 8vh;
}

.row-4 {
    width: 33.3333%
}

.row-50 {
    width: 50%;
}